//Colors Primary
$blue: hsl(246, 80%, 60%);
$light-red-work: hsl(15, 100%, 70%);
$soft-blue-play: hsl(195, 74%, 62%);
$light-red-study: hsl(348, 100%, 68%);
$lime-green-exercise: hsl(145, 58%, 55%);
$violet-social: hsl(264, 64%, 52%);
$soft-orange-selfCare: hsl(43, 84%, 65%);

//Colors Neutral
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

//Typography
$primary-font-size: 18px;
$secondary-font-size: 13px;
$tertiary-font-size:11px;
$font-family: "Rubik", serif;

$primary-font-weight:300;
$secondary-font-weight:400;
$tertiary-font-weight:500;

*, 
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: clamp($secondary-font-size, $secondary-font-size + 1vw, $primary-font-size);
    font-weight: $primary-font-weight;
    display: grid;
    place-content: center;
    gap:1rem;
    padding: 1em;
    min-height: 100vh;
    background-color: $very-dark-blue;
    color: $pale-blue;
}

main {
    display:grid;
    gap:1rem;
}
h2 {
    font-size: clamp(1.25rem, 1.25rem + 1vw, 1.5rem);
    font-weight: $primary-font-weight;
    color:white;
}
.user-info-nav-container {
    background-color: $dark-blue;
    border-radius: 10px;
    height:100%;
    display: flex;
    flex-direction: column;
    .user-info-container {
        flex-grow: 1;
        display:flex;
        align-items: flex-start;
        gap:1rem;
        background-color: $blue;
        padding: 1.5em;
        border-radius: 10px;
        img {
            width:clamp(2rem, 2rem + 1vw, 3rem);
            // height:2rem; //If I do not set a fixed height, it will stretch because of the align--items default value
            aspect-ratio: 1/1; //To make the aspect ratio work, we will need to set the align-items property to something other than its default stretch value.
            border: 1.5px solid white;
            border-radius: 50%;
        }  
        
    }
    .buttons-container {
        display:flex;
        justify-content: space-around;
        gap:1rem;
        padding: 1em;
        .btn {
            font-size: clamp($secondary-font-size, $secondary-font-size + 1vw, $primary-font-size);
            border:none;
            background-color: $dark-blue;
            color: $desaturated-blue;
            &.active, &:hover {
                color:white;
                cursor: pointer;
            }
        }
    }
}

.time-tracking-cards-container {
    display:grid;
    gap:1rem;
    article {
        display:flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        &[data-activity-type="Work"] {
            background-color: $light-red-work;
        } 
        &[data-activity-type="Play"]{
            background-color: $soft-blue-play;
        } 
        &[data-activity-type="Study"]{
            background-color: $light-red-study;
        } 
        &[data-activity-type="Exercise"]{
            background-color: $lime-green-exercise;
        } 
        &[data-activity-type="Social"]{
            background-color: $violet-social;
        } 
        &[data-activity-type="Self Care"]{
            background-color: $soft-orange-selfCare;
        } 

        svg.activity-icon {
            height:4rem;
            margin: -10px 10px -20px auto;
        }
        div.activity-card {
            flex-grow: 1;
            display:flex;
            flex-direction: column;
            gap:clamp(0.5rem, 0.5rem + 1vw, 0.8rem);
            background-color: $dark-blue;
            padding: 1rem;
            border-radius: 10px;
           
            div.activity-info, 
            div.activity-time
            {
                display:flex;
                align-items: center;
                justify-content: space-between;

                 
                p.activity-name {
                    font-weight: $secondary-font-weight;
                    color:white;
                }
                svg:hover {
                    cursor: pointer;
                }
                .previous-time {
                    font-size: clamp($tertiary-font-size, $tertiary-font-size + 0.3vw, $secondary-font-size);
                }
            }
             
        }
    }

}
.attribution{ 
    font-size: 11px; text-align: center; 
    a {
        color: hsl(228, 45%, 44%);
    }
}

 @media (min-width:768px) {
    main {
        grid-template-columns: 1fr 3fr;

    }
    .user-info-nav-container {
        .user-info-container {
            flex-direction: column;
        }
        .buttons-container {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .time-tracking-cards-container {
        grid-template-columns: 1fr 1fr 1fr;
        article {
            div.activity-card {
                div.activity-time {
                    flex-direction: column;
                    align-items: flex-start;
                    gap:clamp(0.5rem, 0.5rem + 1vw, 0.8rem);
                }
            }
        }
    } 
 }